.games {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;
  margin-left: 100px;
  margin-right: 100px;

  transition-duration: 0.5s;
}

.atropos {
  transition-duration: 0.5s;

  margin-left: 27px;
}

.text-over {
  position: absolute;
  color: white;

  bottom: 30px;
  left: 200px;
}

.text-over2 {
  position: absolute;
  color: white;

  bottom: 350px;
  left: 0px;
}

.mini-game {
  width: 200px;

  opacity: 80%;
}

.inner {
  display: flex;
}

.carrousel {
  cursor: grab;
  overflow: hidden;
}
