:root {
  --primary-color: #ffde59;
}

/* FirstPage */

.homePage {
  display: flex;
}

.content {
  position: relative;

  margin-top: -700px;
  margin-left: 50px;
  opacity: 100%;
}

.homeGamesBox {
  width: 279px;
  height: 340px;

  width: 30.8%;

  border-radius: 20px;

  margin-right: 20px;
  margin-top: 10px;

  object-fit: cover;
}

.homeGamesBoxs {
  margin-top: 50px;
  width: 900px;
  opacity: 50%;

  width: 100%;
    object-fit: cover;
}

.homeTitle {
  color: var(--primary-color);

  font-family: space-age;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;

  margin-left: -35px;

  text-shadow: 0px 2px 10px var(--primary-color);

  transition: 0.5s;

  width: 10px;
}

.passDesc {
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;

  width: 700px;

  transition: 1s;
}

.homeGames {
  display: flex;

  width: 130%;

  margin-top: -100px;
  margin-left: -22px;
}

.homeGame {
  width: 35%;
  height: 1122px;

  object-fit: cover;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.5);
}

.homeBlackHole {
  display: flex;
  justify-content: center;
}

.blackHole {
  width: 60%;
  position: relative;

  transform: rotate(0.479deg);

  margin-top: -300px;
}

/* SecondPage */

.secondPage {
  box-shadow: 0px 40px 30px 0px #000 inset;
  background-image: url(../Images/starWars.png);

  display: flex;
  justify-content: space-between;

  margin-top: -200px;

  width: 100%;
  height: 1080px;

  object-fit: cover;
}

.titlePage {
  color: var(--primary-color);
  font-family: koulen;

  text-align: center;
  font-size: 90px;
  font-weight: 400;
  text-shadow: 0px 0px 20px var(--primary-color);

  width: 70%;
  line-height: 90%;

  margin-top: 10px;
}

.portal {
  /* width: 800px; */
  width: 65%;

  margin-top: -100px;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefitsIcon {
  width: 200px;
  margin-right: 100px;
}

.benefitsIconB {
  width: 400px;
  margin-right: 100px;

  margin-bottom: -40px;
}

.benefitsDesc {
  color: var(--primary-color);

  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 700;

  text-align: center;
  width: 500px;

  margin-right: 100px;
}

/* ThirdPage */

.titlePage3 {
  color: var(--primary-color);
  font-family: koulen;

  text-align: center;
  font-size: 90px;
  font-weight: 400;
  text-shadow: 0px 0px 20px var(--primary-color);

  width: 900px;

  position: relative;

  margin-top: -20px;
  margin-left: 200px;
}

.classicGameBack {
  width: 100%;
  height: 836px;

  margin-top: -200px;
}

.classicGameContent {
  display: flex;

  align-items: center;
  justify-content: space-around;

  margin-top: -900px;
}

.classicDesc {
  text-shadow: 0px 4px 30px #fff;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 95.063%; /* 28.519px */

  position: relative;

  width: 600px;
}

.classicGameImages {
  display: flex;

  flex-direction: column;
  align-items: end;
}

.classicCharacter {
  width: 654px;
  height: 801px;

  margin-top: 40px;
}

.game0 {
  width: 868px;
  height: 444px;

  margin-top: -350px;

  transition: 1s;
}

.game1 {
  width: 868px;
  height: 444px;

  margin-top: -350px;
  margin-right: -200px;

  transition: 1s;
}

.game2 {
  width: 868px;
  height: 444px;

  margin-top: -350px;
  margin-right: -100px;

  transition: 1s;
}

.buttonGame {
  background: none;
  border: 0px;

  color: white;

  text-align: center;
  text-shadow: 0px 0px 30px #fff;
  font-family: Anonymous Pro;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;

  width: 300px;

  transition: 1s;
  position: relative;
}

.buttonGame:hover {
  cursor: pointer;

  text-shadow: 0px 0px 10px #fff;

  transition: 0.5s;
}

.buttonGame:active {
  color: var(--primary-color);
  text-shadow: 0px 0px 30px var(--primary-color);
}

.links {
  display: flex;
  justify-content: space-around;

  margin-top: -20px;
}

.buttonGamere4 {
  background: none;
  border: 0px;

  color: var(--primary-color);
  text-shadow: 0px 0px 30px var(--primary-color);

  text-align: center;
  font-family: Anonymous Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  width: 300px;

  transition: 1s;
}

.buttonGamecastle {
  background: none;
  border: 0px;

  color: var(--primary-color);
  text-shadow: 0px 0px 30px var(--primary-color);

  text-align: center;
  font-family: Anonymous Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  width: 400px;

  transition: 1s;
  position: relative;
}

.buttonGameds {
  background: none;
  border: 0px;

  color: var(--primary-color);
  text-shadow: 0px 0px 30px var(--primary-color);

  text-align: center;
  font-family: Anonymous Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  width: 300px;

  transition: 1s;
}

.buttonGameds:hover,
.buttonGamecastle:hover,
.buttonGamere4:hover {
  cursor: pointer;

  text-shadow: 0px 0px 10px var(--primary-color);

  transition: 0.5s;
}

/* FourthPage */

.comparePlans {
  background-image: url(../Images/starBackground.png);
  display: flex;

  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.plansTitle {
  color: var(--primary-color);
  font-family: koulen;

  position: relative;

  text-align: center;
  font-size: 90px;
  font-weight: 400;
  text-shadow: 0px 0px 20px var(--primary-color);

  width: 900px;
}

.rigthArrow{
  display: none;
}

.leftArrow {
  display: none;
}

.plansBlackHole {
  margin-top: -500px;
}

.planCards {
  display: flex;

  margin-top: -170px;
}

.planCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 461px;
  height: 740px;

  background-color: black;
  border: 6px solid #ffde59;
  box-shadow: 0px 0px 30px 0px #ffde59;

  margin-left: 40px;
  margin-right: 40px;
}

.benefitName {
  margin-top: -110px;
}

.benefitsList {
  text-shadow: 0px 4px 30px #fff;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;

  position: relative;

  width: 600px;

  margin-left: 200px;
}

.buyButton {
  width: 304px;
  height: 71px;
  border: 6px solid #ffde59;

  background: #000;

  box-shadow: 0px 0px 30px 0px #fff;

  color: #fff;

  text-align: center;
  text-shadow: 0px 0px 30px #fff;
  font-family: Koulen;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 95.063%; /* 38.025px */

  margin-top: 30px;

  transition: 1s;
}

#estelar,
#intermediario {
  margin-top: 150px;
}

.buyButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px 0px var(--primary-color);

  transition: 0.5s;
}

.buyButton:active {
  box-shadow: 0px 0px 0px 0px var(--primary-color);

  transition: 0.5s;
}

.bigBlackHole {
  margin-top: -220px;

  width: 95%;
}

.hiddenButton {
  display: none;
}

/* Notebooks */
@media only screen and (max-width: 1550px) {
  /* First Page */
  .passLogo {
    width: 250px;
  }

  .homeTitle {
    font-size: 50px;
  }

  .passDesc {
    font-size: 24px;
    width: 500px;
  }

  .content {
    margin-top: -550px;
  }

  .homeGamesBox {
    width: 30%;
    height: 280px;
  }

  .homeGamesBoxs {
    width: 100%;
    object-fit: cover;
  }

  .homeGame {
    width: 35%;
    height: 900px;
  }

  .blackHole {
    width: 60%;
    margin-top: -260px;
  }


  /* Second Page */
  .secondPage {
    margin-top: -100px;

    background-image: url(../Images/laptopStarWars.png);

    width: 1550px;
    height: 900px;
  }

  .titlePage {
    font-size: 70px;
    width: 80%;
  }

  .benefitsIcon {
    width: 150px;
    margin-right: 200px;
  }

  .benefitsIconB {
    width: 350px;
    margin-right: 200px;
  }

  .benefitsDesc {
    font-size: 20px;
    margin-right: 200px;
  }

  /* Third Page */
  .titlePage3 {
    margin-top: 20px;
    font-size: 70px;

    margin-left: 20px;
  }

  .classicGameBack {
    width: 1550px;
    height: 700px;
  }

  .classicDesc {
    font-size: 25px;
    width: 500px;

    margin-top: 150px;
  }

  .classicCharacter {
    width: 554px;
    height: 700px;

    margin-top: 200px;
  }

  .game0, .game1, .game2 {
    width: 770px;
    height: 404px;

    margin-bottom: 20px;
  }

  /* Fourth Page */

  .plansBlackHole {
    margin-top: -480px;
  }

  .plansTitle {
    font-size: 70px;
  }

  .benefitName {
    width: 400px;
  }

  .planCard {
    width: 360px;
    height: 640px;
  }

  .benefitsList {
    font-size: 17px;
    margin-left: 300px;
  }

  .buyButton {
    width: 204px;
    font-size: 30px;
  }

  #estelar, #intermediario {
    margin-top: 130px;
  }

}

/* Tablets */

@media only screen and (max-width: 1250px) {
  /* FirstPage */
  .content{
    margin-top: -500px;
  }

  .passLogo {
    width: 220px;
  }

  .homeGames {
    margin-left: 10px;
    margin-right: 80px;
  }

  .homeGame {
    width: 40%;
    height: 850px;
  }

  .homeGamesBoxs{
    width: 110%;
  }

  .homeGamesBox{
    width: 28%;
    height: 250px;
  }

  .passDesc {
    width: 400px;
    font-size: 20px;
  }

  .blackHole {
    width: 70%;
  }

  /* SecondPage */
  .titlePage {
    font-size: 40px;
  }

  .portal {
    width: 70%;
    margin-top: 30px;
  }

  .secondPage {
    width: 120%;
    height: 780px;
    background-image: url(../Images/TabletBackground.png);
    /* background-image: url(../Images/tabletBackground.png); */
  }

  .benefitsIcon {
    width: 100px;
    margin-right: 250px;
  }

  .benefitsIconB {
    width: 250px;
    margin-right: 250px;
  }

  .benefitsDesc {
    font-size: 15px;
    width: 400px;
    margin-right: 250px;
  }

  /* ThirdPage */
  .titlePage3 {
    font-size: 50px;
  }

  .classicGameBack {
    margin-top: -120px;
    height: 600px;
  }

  .classicDesc {
    font-size: 20px;
    width: 400px;
    margin-top: 300px;

    margin-left: 40px;
  }

  .classicCharacter {
    width: 454px;
    height: 600px;
    margin-top: 300px;

    margin-bottom: 70px;
  }

  .game0, .game1, .game2 {
    width: 600px;
    height: 304px;
  }

  .game1 {
    margin-right: -80px;
  }

  .buttonGame {
    font-size: 20px;

    margin-bottom: 30px;
  }

  .buttonGamere4, .buttonGamecastle, .buttonGameds {
    font-size: 27px;
  }

  /* FourthPage */
  .benefitName{
    width: 300px;
    margin-top: -80px;
  }

  .planCard {
    width: 260px;
    height: 540px;
  }

  .benefitsList {
    font-size: 12px;
    margin-left: 400px;
  }

  .buyButton {
    width: 164px;
    font-size: 25px;
  }

  #estelar, #intermediario {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .secondPage {
    width: 120%;
    height: 780px;
    background-image: url(../Images/tabletBackground.png);
  }
}

@media only screen and (max-width: 500px) {
  /* FirstPage */
  .mainDiv {
    overflow-x: hidden;
  }

  .title {
    font-size: 15px;
  }
  
  .homePage {
    flex-direction: column;
  }

  .mainContent {
    margin-top: -130px;
    margin-bottom: 200px;
  }

  .homeGamesBoxs {
    width: 110%;
  }

  .homeGamesBox {
    width: 27.5%;
    height: 150px;
  }

  .content {
    margin-top: -320px;
    margin-bottom: -50px;
  }

  .passLogo {
    width: 180px;
  }

  .homeTitle {
    font-size: 30px;
  } 

  .home {
    margin-bottom: -20px;
  }

  .passDesc {
    font-size: 15px;
    width: 300px;

    text-align: center;
  }

  .homeGames {
    width: 135%;
    margin-left: 0px;
  }

  .homeGame {
    width: 25%;
    height: 200px;
  }

  .blackHole {
    width: 100%;
    height: 150px;

    margin-top: -50px;
  }

  /* SecondPage */

  .secondPage {
    margin-top: -30px;

    flex-direction: column;
  }

  .titlePage {
    font-size: 30px;
    text-align: center;
  }

  .secondPage {
    width: 120%;
    height: 700px;
    background-image: url(../Images/mobile.png);
  }

  .portal {
    width: 60%;

    margin-top: -80px;

    margin-left: 50px;
  }

  .benefits {
    margin-bottom: 50px;
  }

  .benefitsIcon {
    width: 60px;
    margin-right: 100px;
  }

  .benefitsDesc {
    font-size: 10px;
    margin-right: 100px;

    width: 200px;
  }

  .benefitsIconB {
    width: 180px;
    margin-right: 100px;
  }

  /* ThirdPage */ 
  .thirdPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titlePage3 {
    font-size: 40px;
  }

  .classicDesc {
    text-align: center;
    font-size: 15px;

    width: 350px;

    margin-left: 0px;
    margin-top: 400px;
  }

  .classicGameContent {
    flex-direction: column;
  }

  .classicGameImages {
    margin-top: -240px;
    align-items: center;
  }

  .classicCharacter {
    width: 254px;
    height: 300px;

    margin-left: 0px;
    margin-right: 0px;
  }

  .game0 {
    width: 350px;
    height: 150px;

    margin-top: -200px;
    margin-left: -40px;
  }

  .game1 {
    width: 350px;
    height: 150px;

    margin-top: -210px;
    margin-left: -40px;
  }

  .game2 {
    width: 350px;
    height: 150px;

    margin-top: -220px;
    margin-left: -100px;
  }

  .links {
    width: 400px;
  }

  .buttonGame {
    font-size: 10px;

    margin-bottom: 0px;
  }

  .buttonGamere4, .buttonGamecastle, .buttonGameds {
    font-size: 10px;

    width: 300px;
  }

  /* FourthPage */
  .plansTitle {
    font-size: 40px;
  }

  .plansBlackHole {
    width: 800px;
    margin-top: -360px;
  }

  .rigthArrow {
    display: block;

    width: 50px;
    height: 50px;

    transform: rotate(180deg);

    margin-right: -20px;
    margin-left: -25px;
  }

  .leftArrow {
    position: absolute;
    display: block;

    width: 50px;
    height: 50px;

    left: 80vw;
  }

  .planCards {
    align-items: center;
    transform: translateX(33.33%);
    transition: 1s;

    margin-bottom: 150px;
  }

  .planCards2 {
    transform: translateX(0%);
    transition: 1s;
  }

  .planCards3 {
    transform: translateX(-33.33%);
    transition: 1s;
  }
}