@font-face {
  font-family: space-age;
  src: url(../fonts/spaceage.ttf);
}

@font-face {
  font-family: koulen;
  src: url(../fonts/Koulen-Regular.ttf);
}

:root {
  --primary-color: #ffde59;
}


.navBar {
  height: 91px;
  position: relative;
  display: flex;

  align-items: center;

  justify-content: space-between;

  background: rgba(0, 0, 0, 0.8);
}

.home {
  display: flex;
  align-items: center;
}

.holeLogo {
  width: 200px;

  margin-left: -30px;
}

.title {
  color: var(--primary-color);

  font-family: space-age;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;

  margin-left: -35px;

  text-shadow: 0px 2px 10px var(--primary-color);

  transition: 0.5s;
}

.navLink {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;

  transition: 1s;

  margin-right: 50px;
}

.mobileMenu {
  display: none;
  cursor: pointer;
}

.mobileMenu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;

  box-shadow: 0px 0px 8px white;
}

.backButton {
  background-color: var(--primary-color);

  padding-bottom: 5px;
  padding-left: 5px;
}

.assignButton {
  color: var(--primary-color);

  background-color: black;
  border: 0px;
  padding: 10px;

  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.userIcon {
  margin-left: -20px;
  margin-right: 30px;

  width: 120px;
  width: 80%;
}

.defaultUser {
  margin-left: -20px;
  margin-right: 30px;

  width: 70px;
  width: 80%;
}

.title:hover {
  text-shadow: 0px 5px 13px var(--primary-color);

  transition: 0.5s;
}

.navLink:hover {
  cursor: pointer;
  text-shadow: 0px 5px 13px white;

  transition: 0.5s;
}

.assignButton:hover {
  cursor: pointer;
}

.assignButton:active {
  transform: translate(-5px, 5px);

  transition: 0.5s;
}

.backButton:active {
  background-color: black;
}

/* Notebooks */
@media only screen and (max-width: 1550px) {
  .title {
    font-size: 20px;
    margin-right: 10px;
  }

  .holeLogo {
    width: 160px;
  }

  .navLink {
    font-size: 13px;
  }

  .assignButton {
    font-size: 14px;
    padding: 8px;
  }

  .defaultUser {
    margin-left: 20px;
    width: 50%;
  }
}

/* Tablets */
@media only screen and (max-width: 1250px) {
  .holeLogo {
    width: 160px;
  }

  .title {
    font-size: 16px;
  }

  .navLink {
    font-size: 12px;
  }

  .assignButton {
    font-size: 14px;
    padding: 8px;
    
  }

  .defaultUser {
    margin-left: 0px;
    width: 60%;
  }

  .userIcon {
    width: 100%;
    margin-right: -20px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .userIcon {
    width: 100%;
    margin-right: -50px;
  }

  .defaultUser {
    margin-right: -10px;
    margin-left: 0px;
    width: 70%;
  }

  .holeLogo {
    width: 140px;
  }

  .assignButton, .backButton {
    display: none;
  }

  .deactive {
    display: none;
    opacity: 0%;
    margin-top: 1000px;
  }

  .divLinks {
    display: flex;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100vw;
    height: 92vh;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background-image: url(../Images/starBackground.png);

    transform: translateX(100%);
  }

  .divLinks.active {
    transform: translateX(0);
  }

  .mobileMenu {
    display: block;
  }

  .navLink {
    margin-right: 0px;

    font-size: 18px;
  }

  .home {
    margin-top: -20px
  }

  .navBar {
    opacity: 100%;

    margin-bottom: 90px;

    align-items: center;
  }
}
