@font-face {
  font-family: space-age;
  src: url(../fonts/spaceage.ttf);
}

@font-face {
  font-family: koulen;
  src: url(../fonts/Koulen-Regular.ttf);
}

:root {
  --primary-color: #ffde59;
}

.navBar {
  height: 91px;
  position: relative;
  display: flex;

  align-items: center;

  justify-content: space-between;

  background: rgba(0, 0, 0, 0.8);
}

.home {
  display: flex;
  align-items: center;
}

.holeLogo {
  width: 200px;

  margin-left: -30px;
}

.title {
  color: var(--primary-color);

  font-family: space-age;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;

  margin-left: -35px;

  text-shadow: 0px 2px 10px var(--primary-color);

  transition: 0.5s;
}

.navLink {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;

  transition: 1s;
}

.backButton {
  background-color: var(--primary-color);

  padding-bottom: 5px;
  padding-left: 5px;
}

.assignButton {
  color: var(--primary-color);

  background-color: black;
  border: 0px;
  padding: 10px;

  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.userIcon {
  margin-left: -20px;
  margin-right: 30px;

  width: 120px;
}

.defaultUser {
  margin-left: -20px;
  margin-right: 30px;

  width: 70px;
}

.title:hover {
  text-shadow: 0px 5px 13px var(--primary-color);

  transition: 0.5s;
}

.navLink:hover {
  text-shadow: 0px 5px 13px white;

  transition: 0.5s;
}

.assignButton:hover {
  cursor: pointer;
}

.assignButton:active {
  transform: translate(-5px, 5px);

  transition: 0.5s;
}

.backButton:active {
  background-color: black;
}
