.plansMain {
  display: flex;
  background-image: url("../Images/plansBackground.png");
  flex-direction: column;

  flex-wrap: wrap;

  margin-top: -60px;
}

.divTitle {
  display: flex;
  justify-content: center;
}

.plansContent {
  margin-left: 100px;

  margin-top: -100px;
}

.PLANS {
  margin-top: -100px;
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.plansHoles {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 100px;
}

.planHole {
  filter: grayscale(100%);
  transition: 1s;
}

.plansBackground {
  width: 120%;
}

.planHole:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.planLink {
  margin-top: -1050px;

  margin-right: 900px;
}

.carrousel {
  cursor: grab;
  overflow: hidden;

  margin-top: -350px;
}

@media only screen and (max-width: 1550px) {
  .plansMain {
    background-image: url(../Images/laptopPlansBackground.png);
  }

  .plansBackground {
    width: 120%;
  }
}

@media only screen and (max-width: 1250px) {
  .plansMain {
    background-image: url(../Images/ipadPlans.png);
  }

  .PLANS {
    margin-top: 0px;
  }

  .plansHoles {
    margin-right: 80px;
  }

  #acquire {
    margin-left: 300px;
    margin-top: 250px;
  }

  #planEstelar {
    width: 300px;
  }

  #planInterm {
    width: 350px;
  }

  #planSuperm{
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .plansMain {
    background-image: url(../Images/IpadPlans.png);
  }
}

@media only screen and (max-width: 500px) {
  .divTitle {
    margin-top: -80px;
    margin-bottom: 20px;
  }

  .plansMain {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .PLANS {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .plansContent {
    margin-left: 0px;
  }

  .plansHoles {
    margin-right: 0px;
  }

  .plansBackground {
    margin-bottom: 200px;
  }

  #acquire {
    margin-left: 600px;
    margin-top: 470px;

    width: 100px;
    height: 40px;

    font-size: 15px;
  }
}