.userPage {
  display: flex;
  height: 1150px;
  background-image: url(../Images/starBackground.webp);

  margin-left: 40px;
}

#miniPlan {
  width: 1152px;

  margin-right: 0px;
}

.user {
  width: 885px;
  width: 30%;
  height: 841px;
  height: 70%;
  border: 6px solid #ffde59;

  display: flex;

  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  background: #000;

  box-shadow: 0px 0px 30px 0px #ffde59;

  margin-left: 50px;
  margin-top: 50px;
}

.userImage {
  border: 1px solid #ffde59;

  border-radius: 300px;

  width: 80%;
}

.userInfo {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  margin-bottom: 30px;
}

.inputUsername {
  background: none;
  border: none;

  color: #ffde59;

  text-shadow: 0px 0px 30px #ffde59;
  font-family: koulen;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 95.063%; /* 38.025px */
  text-align: center;

  margin-top: -30px;
}

.infos {
  display: flex;

  flex-direction: column;

  align-items: center;
  align-content: center;

  /* margin-left: 140px; */
}

.inputUser {
  background: none;
  border: none;

  color: #ffde59;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.063%; /* 38.025px */
  text-align: center;
}

.areaUser {
  background: none;
  border: none;

  color: #ffde59;

  text-shadow: 0px 0px 30px #ffde59;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 95.063%; /* 38.025px */

  text-align: center;
}

.userButton {
  margin-top: 20px;

  color: var(--primary-color);

  background-color: black;
  border: 0px;
  padding: 10px;

  padding-left: 30px;
  padding-right: 30px;

  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;

  border-left: 8px solid #ffde59;
  border-bottom: 8px solid #ffde59;
  transition: 0.5s;
}

.userButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #ffde59;

  transition: 0.5s;
}

.userButton:active {
  border-left: 0px solid;
  border-bottom: 0px solid;

  transition: 0.5s;
}

.edit {
  border: 2px solid white;
}

.userTitle {
  color: var(--primary-color);
  font-family: koulen;

  text-align: center;
  font-size: 70px;
  font-weight: 400;
  text-shadow: 0px 0px 20px var(--primary-color);
  line-height: 95.063%; /* 91.26px */

  width: 1300px;
}

.miniGameBox {
  width: 200px;
}

.mini-text-over {
  width: 50px;
  position: absolute;
  color: white;

  bottom: 20px;
  left: 130px;
}

.mini-text-over2 {
  width: 160px;
  position: absolute;
  color: white;

  bottom: 235px;
  left: 0px;
}

.assignPlan {
  width: 100%;
  margin-left: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.plansBackground {
  margin-bottom: 120px;
}

@media only screen and (max-width: 1550px) {
  .userPage {
    height: 1000px;
  }

  .user {
    height: 700px;
  }

  #miniPlan {
    width: 852px;

    margin-left: -100px;
  }

  .miniGameBox {
    width: 160px;
  }
  
  .mini-text-over {
    width: 40px;
    position: absolute;
    color: white;
  
    bottom: 20px;
    left: 110px;
  }
  
  .mini-text-over2 {
    width: 140px;
  
    bottom: 185px;
    left: 0px;
  }

  .userTitle {
    font-size: 60px;
    width: 1000px;
  }
}

@media only screen and (max-width: 1250px) {
  .userPage {
    height: 700px;
  }

  .user {
    height: 500px;
  }

  #miniPlan {
    width: 800px;
  }

  .userInfo {
    font-size: 15px;
  }

  .inputUser {
    font-size: 15px;
  }
  
  .inputUsername{
    font-size: 25px;
  }

  .userButton {
    font-size: 15px;
  }

  .userTitle {
    font-size: 40px;

    margin-right: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .plansBackground {
    margin-top: -70px;
    margin-bottom: 150px;
  }

  .userMain {
    overflow-x: hidden;
  }

  .userPage {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }

  .user {
    margin: 0px;
    margin-top: -50px;

    padding-bottom: 20px;

    width: 60%;
  }

  .inputUsername {
    font-size: 15px;
  }

  .userTitle {
    font-size: 30px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #miniPlan {
    margin: 0px;
    width: 60%;
    margin-bottom: -70px;
  }


  .miniGameBox {
    width: 100px;
  }

  .mini-text-over {
    width: 20px;
    bottom: 15px;
    left: 70px;
  }

  .mini-text-over2 {
    width: 85px;
    bottom: 119px;
  }
}